@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Email</h3>
<p class="text-justify">
    eBookShop uses your email only for log in. You will ot recive emails about promitions, or other deals.
</p>

<h3>Password</h3>
<p class="text-justify">
    eBookShop uses your password only for log in. eBookShop employes will never ask about your password
</p>