@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-justify">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>User Content and Messages</h2>
    The Service allows you to post User Content, as defined in our Terms of Use. Any User Content you post becomes
    available to the public via the Service. User Content includes, but is not limited to, reviews, comments,
    and visual content. If you remove User Content, copies may remain viewable in cached and archived pages or if other
    users have copied or stored your User Content.
    <br />
    eBookShop takes reasonable measures to keep messages that you send to other Members through the Service private
    between you and the recipient. However, even if you have deleted the message from your eBookShop inbox or outbox,
    copies of the message may remain viewable in cached and archived pages or if other users have copied or stored the
    message.
    <br />
    <br />
    <h2>E-mail</h2>
    By providing eBookShop your e-mail address you consent to us sending you Service-related notices, including any notices
    required by law, in lieu of communication by postal mail. We may also use your e-mail address to send you other messages,
    such as newsletters, changes to features, notices of member-initiated content, or special offers (“Other Messages”).
    If you do not want to receive Other Messages, you may opt out by changing your e-mail preference settings in the account
    settings section of eBookShop.com after you have signed in using your personal password. Opting out may prevent you
    from receiving e-mail messages regarding updates, improvements, or offers. You may not opt out of Service-related e-mails.
    <br />
    <br />
    <h2>Privacy Settings</h2>
    Your name is used when you invite another person to join eBookShop, or when you request to add another member to your
    friends list. To the extent that you do not wish to have your name shared in this manner, you should not make use of
    these services. You can modify, delete, and set your privacy setting for information you provide us any time in the
    account settings section of eBookShop.com after you have signed in using your personal password.
    <br />
    <br />
    <h2>Cookies and Other Identifiers</h2>
    To enable our systems to recognize your browser or device and to provide and improve the Service, we use cookies and
    other identifiers. For more information about cookies and how we use them, please read our Cookies notice.
    ecting the privacy of young children is especially important. For that reason, eBookShop does not knowingly collect or
    solicit personal information from anyone under the age of 13 or knowingly allow such persons to register. If you are
    under 13, please do not send any information about yourself to us, including your name, address, telephone number, or
    e-mail address. No one under age 13 is allowed to provide any personal information to or on eBookShop. In the event that
    we learn that we have collected personal information from a child under age 13 without verification of parental consent,
    we will delete that information as quickly as possible. If you believe that we might have any information from or about a
    child under 13, please contact us.
</div>